<!-- @format -->

<!-- table divider -->
<table class="table searchable sortable" id="permssion_group_table">
  <!-- header -->
  <thead>
    <tr>
      <th class="table_checkbox" scope="col"></th>
      <!-- string -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="permssion_group_name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="permssion Group Name"
        />
      </th>
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="id"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="ID"
        />
      </th>
      <!-- number -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="permission_type"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Permission Type"
        />
      </th>
    </tr>
  </thead>
  <!-- table body -->
  <tbody id="container">
    <% if (permission_groups) { %> <% permission_groups.forEach(function(pg){%>

    <tr onclick="selectRow(this)" id="<%=pg.permssion_id%><%=pg.permssion_group_name%>">
      <!-- TDs ########################################################## -->
      <td class="checkbox">
        <!-- style="pointer-events: none;" makes it so the checkbox doesnt click itself -->
        <input
          type="checkbox"
          style="pointer-events: none"
          name="check<%=pg.permssion_id%><%=pg.permssion_group_name%>"
          value="<%=pg.permssion_id%><%=pg.permssion_group_name%>"
          id="check<%=pg.permssion_id%><%=pg.permssion_group_name%>"
        />
      </td>
      <td class="permssion_group_name"><%=pg.permssion_group_name%></td>
      <td class="id"><%=pg.permssion_id%></td>
      <td class="permission_type"><%=pg.permssion_name%></td>
      <td class="building_name"><%=pg.building_name%></td>
    </tr>

    <% }) %> <% } %>
    <script src="js/permssionGroups/permssionGroupTableLogic.js"></script>
  </tbody>
</table>
