<!-- Header -->
<%- include('partials/head') %>

<!-- Navbar -->
<%- include('partials/navbar') %>

<!-- main page structure -->
<div class="container text-center">
  <div class="row header">
    <h1>People</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <%- include('partials/people/peopleForm') %>
    <!-- Table Select Buttons -->
    <div class="col col-lg-1">
      <div class="mid_button">
        <button type="button" class="btn btn-danger">Group</button>
      </div>
      <div class="mid_button">
        <button type="button" class="btn btn-danger">DELETE!</button>
      </div>
    </div>
    <!-- TABLE -->
    <%- include('partials/people/peopleTable') %>
  </div>
  <!-- footer -->
  <%- include('partials/footer') %>
</div>
