<!-- @format -->

<!-- Header -->
<%- include('../partials/head') %>

<!-- Navbar -->
<%- include('../partials/navbar') %>

<!-- main page structure -->
<div class="text-center mainContainer">
  <div class="row header">
    <h1>Permissions</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <div class="col col-lg-3" id="tableSide-Div">
      <%- include('permissionForm') %>
    </div>

     <!-- Table Select Buttons -->
    <div class="col col-lg-1">
      <%- include('permissionsTableButtons') %>
    </div>

    <!-- Permission TABLE -->

    <div class="col col-lg-8" id="tableSide-Div">
      <%- include('permissionTable') %>
    </div>
  </div>
  <!-- footer -->
  <%- include('../partials/footer') %>
</div>
