<!-- @format -->

<!-- table divider -->
<table class="table" id="door_table">
  <!-- <label for="people_table">People Table</label> -->
  <thead>
    <tr>
      <th class="table_checkbox" scope="col"></th>
      <!-- <input type="checkbox" name="select_row" id="select_row" /> -->
      <th scope="col">ID</th>
      <!-- number -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="door_name_search"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Door Name"
        />
      </th>
      <!-- string -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="building_name_search"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Building Name"
        />
      </th>
      <!-- string -->
      <th scope="col">
        <input
          type="number"
          class="tableSearchInput"
          id="floor_number_search"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Floor"
        />
      </th>
      <!-- number -->
    </tr>
  </thead>
  <tbody id="container">
    <% if (doorss) {%> <% doorss.forEach(function(d){%>
    <tr onclick="selectRow(this)" id="<%=d.door_id%>">
      <td>
        <input
          type="checkbox"
          name="check<%=d.door_id%>"
          id="check<%=d.door_id%>"
          value="<%=d.door_id%>"
          style="pointer-events: none"
        />
      </td>
      <td class="id"><%=d.door_id %></td>
      <td class="door_name_search"><%=d.door_name %></td>
      <td class="building_name_search"><%=d.building_name %></td>
      <td class="floor_number_search"><%=d.floor_number %></td>
    </tr>
    <%});%> <%}%>
    <script type="text/javascript" src="js/doorTableLogic.js"></script>
  </tbody>
</table>
