<!-- Header -->
<%- include('../partials/head') %>

<!-- Navbar -->
<%- include('../partials/navbar') %>

<!-- main page structure -->
<div class="container text-center">
  <div class="row header">
    <h1>People</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <div class="col col-lg-3" id="tableSide-Div">
      <%- include('peopleForm') %>
    </div>

    <!-- Table Select Buttons -->
    <div class="col col-lg-1">
      <div class="mid_button">
        <button type="button" class="btn btn-danger">Group</button>
      </div>
      <div class="mid_button">
        <button type="button" class="btn btn-danger">DELETE!</button>
      </div>
    </div>

    <!-- TABLE -->
    <div class="col col-lg-8" id="tableSide-Div">
      <%- include('peopleTable') %>
    </div>
  </div>
  <!-- footer -->
  <%- include('../partials/footer') %>
</div>
