<!-- @format -->

<!-- Header -->
<%- include('../partials/head') %>

<!-- Navbar -->
<%- include('../partials/navbar') %>

<!-- main page structure -->
<div class="text-center mainContainer">
  <div class="row header">
    <h1>People</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <div class="col col-lg-3" id="tableSide-Div">
      <%- include('peopleForm') %>
    </div>

    <!-- Table Select Buttons -->
    <div class="col col-lg-1"><%- include('peopleTableButtons', groups) %></div>

    <!-- TABLE -->
    <div class="col col-lg-8" id="tableSide-Div">
      <%- include('peopleTable', peoples) %>
    </div>
  </div>
  <!-- footer -->
  <%- include('../partials/footer') %>
</div>
