<!-- @format -->

<!-- Header -->
<%- include('../partials/head') %>

<!-- Navbar -->
<%- include('../partials/navbar') %>

<!-- main page structure -->
<div class="text-center mainContainer">
  <div class="row header">
    <h1>People</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <div class="col col-lg-3" id="tableSide-Div">
      <%- include('peopleForm') %>
    </div>

    <!-- Table Select Buttons -->
    <div class="col col-lg-1">
      <div class="mid_button">
        <button type="button" class="btn btn-danger">Group</button>
      </div>
      <div class="mid_button">
        <form action="/people" method="get">
          <button type="form" onclick="deletePerson()" class="btn btn-danger">
            DELETE!
          </button>
        </form>
      </div>
      <script>
        function deletePerson() {
          rows = document.querySelector("tbody").querySelectorAll("tr");
          let i = 0;
          for (const row of rows) {
            if (row.querySelector("#check" + `${row.id}`).checked) {
              fetch(`/people/${row.id}`, { method: "DELETE" });
            }
          }
        }
      </script>
    </div>

    <!-- TABLE -->
    <div class="col col-lg-8" id="tableSide-Div">
      <%- include('peopleTable', peoples) %>
    </div>
  </div>
  <!-- footer -->
  <%- include('../partials/footer') %>
</div>
