<!-- table divider -->

<table class="table searchable sortable" id="people_table">
  <!-- <label for="people_table">People Table</label> -->
  <thead>
    <tr>
      <th class="table_checkbox" scope="col"></th>
      <!-- <input type="checkbox" name="select_row" id="select_row" /> -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="id"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="ID"
        />
      </th>
      <!-- number -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Name"
        />
      </th>
      <!-- string -->
      <th class="table_checkbox" scope="col" onclick="adminSelectToggle()">
        Admin
      </th>
      <!-- check ( &#x2714; )or cross (&#x274C;) -->
    </tr>
  </thead>
  <tbody id="container">
    <% for(let p of peoples) {%>
    <tr
      onclick="selectRow(this)"
      id="<%=p.person_id%>"
      class="<%=p.admin_system_access%>"
    >
      <!-- TDs ########################################################## -->
      <td class="checkbox">
        <!-- style="pointer-events: none;" makes it so the checkbox doesnt click itself -->
        <input
          type="checkbox"
          style="pointer-events: none"
          name="check<%=p.person_id%>"
          id="check<%=p.person_id%>"
        />
      </td>
      <td class="id"><%=p.person_id %></td>
      <td class="name"><%=p.first_name %> <%=p.last_name %></td>
      <td class="<%=p.admin_system_access%>">
        <% if (p.admin_system_access === "true") { %>
              &#x2714
            <% } else { %>
              &#x274C
            <% } %>
      </td>
    </tr>
    <%}%>
    <script type="text/javascript">
      function selectRow(row) {
        const rowInput = row.getElementsByTagName("input")[0];
        rowInput.checked = !rowInput.checked;
      }
      // set admin flag
      let adminFlag = 1;
      // function to toggle between admins/ non admins/ all.
      function adminSelectToggle() {
        let input, filter, table, trs, td, txtValue;
        table = document.querySelector("#people_table");
        trs = table.getElementsByTagName("tr");
        for (const tr of trs) {
          switch (adminFlag) {
            case 1:
              if (tr.className === "true") {
                tr.style.display = "";
              } else if (tr.className === "false") {
                tr.style.display = "none";
              }
              break;

            case 2:
              if (tr.className === "true") {
                tr.style.display = "none";
              } else if (tr.className === "false") {
                tr.style.display = "";
              }
              break;

            case 0:
              tr.style.display = "";
              break;
          }
        }

        adminFlag = (adminFlag + 1) % 3;
      }

      // use search box to search table for names and ids
      function tableSearchFunction(name) {
        // initiation
        let input, filter, table, trs, td, txtValue;
        // get input of search box
        input = document.querySelector("#" + `${name}`);
        filter = input.value.toUpperCase();

        // get row elements of table
        table = document.querySelector("#people_table");
        trs = table.getElementsByTagName("tr");

        //go through each row element and do the following:
        for (const tr of trs) {
          // get the correct row column object to check
          td = tr.querySelector("." + `${name}`);
          // if it is not null continue
          if (td) {
            // get text value
            txtValue = td.textContent;
            // if we are an ID column and the search input is not a number check if we have that input
            // or: if we are searching names check if the name exists in the rows below
            if ((name === "id") & !isNaN(filter) || name === "name") {
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                // display only rows that have the search input  in them.
                tr.style.display = "";
              } else {
                tr.style.display = "none";
              }
            }
          }
        }
      }
    </script>
  </tbody>
</table>
