<!-- @format -->

<!-- table divider -->

<table class="table searchable sortable" id="people_table">
  <!-- <label for="people_table">People Table</label> -->
  <thead>
    <tr>
      <th class="table_checkbox" scope="col"></th>
      <!-- <input type="checkbox" name="select_row" id="select_row" /> -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="id"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="ID"
        />
      </th>
      <!-- number -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="first_name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="First Name"
        />
      </th>
      <!-- string -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="last_name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Last Name"
        />
      </th>
      <!-- string -->
      <th class="table_checkbox" scope="col" onclick="adminSelectToggle()">
        Admin
      </th>
      <!-- check ( &#x2714; )or cross (&#x274C;) -->
    </tr>
  </thead>
  <tbody id="container">
    <% if (peoples) {%> <% peoples.forEach(function(p){%>
    <tr
      onclick="selectRow(this)"
      id="<%=p.person_id%>"
      class="<%=p.admin_system_access%>"
    >
      <!-- TDs ########################################################## -->
      <td class="checkbox">
        <!-- style="pointer-events: none;" makes it so the checkbox doesnt click itself -->
        <input
          type="checkbox"
          style="pointer-events: none"
          name="check<%=p.person_id%>"
          value="<%=p.person_id%>"
          id="check<%=p.person_id%>"
        />
      </td>
      <td class="id"><%=p.person_id %></td>
      <td class="first_name"><%=p.first_name %></td>
      <td class="last_name"><%=p.last_name %></td>
      <td class="<%=p.admin_system_access%>">
        <% if (p.admin_system_access) { %> &#10004; <% } else { %> &#10060; <% }
        %>
      </td>
    </tr>
    <%});%> <%}%>
    <script src="js/peopleTableLogic.js"></script>
  </tbody>
</table>
