<!-- @format -->

<!-- Header -->
<%- include('../partials/head') %>

<!-- Navbar -->
<%- include('../partials/navbar') %>

<!-- main page structure -->

<div class="text-center mainContainer">
  <div class="row header">
    <h1>Door Groups</h1>
  </div>
  <div class="row">
    <!-- Table Select Buttons -->
    <div class="col col-lg-2"><%- include('doorGroupsButtons') %></div>

    <!-- TABLE -->
    <div class="col col-lg-10">
      <%- include('doorGroupsTable',door_groups) %>
    </div>
  </div>
  <!-- footer -->
  <%- include('../partials/footer') %>
</div>
