<!-- @format -->

<!-- Header -->
<%- include('../partials/head') %>

<!-- Navbar -->
<%- include('../partials/navbar') %>

<!-- main page structure -->
<div class="container text-center">
  <div class="row header">
    <h1>Assigned Permissions</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <div class="col col-lg-3" id="tableSide-Div">
      <%- include('assignPermissionForm') %>
    </div>
    <!-- Table Select Buttons -->
    <div class="col col-lg-1" id="tableSide-Div">
      <%- include('assignPermissionsTableButtons') %>
    </div>
    <!-- TABLE -->
    <div class="col col-lg-8" id="tableSide-Div">
      <%- include('assignPermissionTable') %>
    </div>
  </div>
  <!-- footer -->
  <%- include('../partials/footer') %>
</div>
