<!-- @format -->

<!-- table divider -->
<table class="table searchable sortable" id="people_group_table">
  <!-- header -->
  <thead>
    <tr>
      <th class="table_checkbox" scope="col"></th>
      <!-- string -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="people_group_name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="People Group Name"
        />
      </th>
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="id"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="ID"
        />
      </th>
      <!-- number -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="first_name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="First Name"
        />
      </th>
      <!-- string -->
      <th scope="col">
        <input
          type="text"
          class="tableSearchInput"
          id="last_name"
          onkeyup="tableSearchFunction(this.id)"
          placeholder="Last Name"
        />
      </th>
    </tr>
  </thead>
  <!-- table body -->
  <tbody id="container">
    <% if (people_groups) { %> <% people_groups.forEach(function(pg){%>

    <tr
      onclick="selectRow(this)"
      id="<%=pg.person_id%><%=pg.person_group_name%>"
    >
      <!-- TDs ########################################################## -->
      <td class="checkbox">
        <!-- style="pointer-events: none;" makes it so the checkbox doesnt click itself -->
        <input
          type="checkbox"
          style="pointer-events: none"
          name="check<%=pg.person_id%><%=pg.person_group_name%>"
          value="<%=pg.person_id%><%=pg.person_group_name%>"
          id="check<%=pg.person_id%><%=pg.person_group_name%>"
        />
      </td>
      <td class="person_group_name"><%=pg.person_group_name%></td>
      <td class="id"><%=pg.person_id%></td>
      <td class="first_name"><%=pg.first_name%></td>
      <td class="last_name"><%=pg.last_name%></td>
    </tr>

    <% }) %> <% } %>
    <script src="js/peopleGroups/peopleGroupTableLogic.js"></script>
  </tbody>
</table>
